@import url('https://fonts.googleapis.com/css?family=Sacramento');


.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 60px);
    height: 100px;
    background: #fafafa;
    padding: 0 30px 0 30px;
}

.header-logo {
    display: flex;
    align-items: center;
    height: 100%;
    color: #f6d9c9;
    font-size: 22px;
    font-family: 'Sacramento';
}

.header-logo p {
    padding: 5px 0 0 5px;
}
/* 
.header mobileNav {
    padding-right: 20px;
}

.header webNav img {
    padding-left: 20px;
} */

/* .header webNav {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
} */

.header-links {
    text-decoration: none;
    color: #999;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.header-webNav {
    display: none;
}

.header-webNav div {
    display: flex;
    align-items: center;
}

.header-mobileNav {
    display: block;
}



@media(min-width: 600px) {
    .header-webNav {
        display: block;
    }

    .header-mobileNav {
        display: none;
    }
}