.login {
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(#ffffff, #f6d9c9, #f1b8a3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login a {
    text-decoration: none;
    color: #f1b8a3;
    font-size: 46px;
    font-family: 'Sacramento';
}