@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Sacramento');

body {
    font-family: Roboto;
    letter-spacing: 2px;
}

input:focus {
    outline: none;
    border: none;
 }